@{
    Layout = null;
}
@using ERP_Models.ViewModel
@using ERP_Models
@model StudentModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print Examination Form</title>
    <!-- Bootstrap -->
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/print.css" rel="stylesheet" media="print" />
</head>
<body>
    <div class="col-sm-12" style="text-align: center;">
        @foreach (var i in Model.ListStud)
        {                         
            <div id="dvMain" class="col-sm-12" style="height: 978px;">
                <h3><b>DISTRICT INSTITUTE OF EDUCATION AND TRAININGS</b></h3>
                <h4 style="margin-top: -6px;text-transform:uppercase;"><b>@i.DistDetail.Name,KASHMIR</b></h4>
                <h4 style="margin-top: -6px;"><b>CLASS @i.StdDetail.Standard @Model.ExamDetail.Name</b></h4>
                <div class="col-sm-4"></div>
                <h4 id="hTitle" class="col-sm-4" style="background-color: black; color: white; text-align: center; margin-top: -5px;">EXAMINATION FORM</h4>
                <div class="col-sm-4"></div>
                <div class="col-sm-8" style="text-align: left;">
                    <br />
                    <br />

                    <b>Roll No. :</b>&nbsp; @i.RollNo<br />
                    <b>Registration No. : </b>&nbsp; @i.Prefix@i.StudID
                    <br />
                    <br />
                    <h4><b>A) CANDIDATES PARTICULARS</b></h4>
                    <br />
                    <table>
                        <tr>
                            <td><b>Name of Candidate : </b></td>
                            <td>@i.FirstName @i.MiddleName @i.LastName</td>
                        </tr>
                        <tr>
                            <td><b>Father's Name :</b></td>
                            <td>@i.FatherName</td>
                        </tr>
                        <tr>
                            <td><b>Mother's Name :</b></td>
                            <td>@i.MotherName</td>
                        </tr>
                        <tr>
                            <td><b>Date of Birth :</b></td>
                            <td>@i.DOB.Value.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr>
                            <td><b>Zone :</b></td>
                            <td>@i.ZoneDetail.Name</td>
                        </tr>
                        <tr>
                            <td><b>Institute :</b></td>
                            <td>@Model.SchoolDetail.Name</td>
                        </tr>

                    </table>
                    <br />
                    <h4><b>B) SUBJECT TO APPEAR IN</b></h4>

                    @{ERPEntities Dbcontext = new ERPEntities();
                      int sid = @i.StudID;}

                    @{var data = (from st in Dbcontext.SubTrans
                                  join sm in Dbcontext.SubjectMasters on st.SubID equals sm.SubID
                                  where st.StudID == sid && st.IsChecked == true
                                  select new SubjectModel()
                                  {
                                      Subject = sm.Subject
                                  }).ToList();
                    }
                    @{int count = 0;}
                    @foreach (var s in data)
                    {

                        count++;
                        <b>@count.&nbsp;</b>@s.Subject<br />

                    }
                </div>
                <div class="col-sm-4">
                    <br />
                    <br />
                    <img id="img" style="border:solid 1px;" src="@Url.Content("/PhotoUpload/Photo/" + i.Photo)" onError="this.onerror=null;this.src='/Images/noImage.png';" alt="photo" class="img-rounded thumb-image" width="100" height="100" /><br />
                    <img id="img1" style="border:solid 1px;" src="@Url.Content("/PhotoUpload/Sign/" + i.Sign)" onError="this.onerror=null;this.src='/Images/noImage.png';" alt="sign" class="img-rounded thumb-image" width="100" height="50" /><br />
                    <img id="img2" style="border:solid 1px;" src="@Url.Content("/PhotoUpload/Thumb/" + i.Thumb)" onError="this.onerror=null;this.src='/Images/noImage.png';" alt="thumb" class="img-rounded thumb-image" width="100" height="50" />
                </div>

                <div class="col-sm-12" style="text-align: left;">

                    <br />
                    <ul>
                        <li>

                            <b>It is to certify that each filled above are verified and found correct.</b></li>
                    </ul>
                </div>
                <div class="col-sm-12" style="text-align: right;">
                    <br />
                    <br />
                    <br />
                    <b>Seal and Signature of the Head</b>
                </div>
            </div>            
        }
    </div>
</body>
</html>
